<app-header></app-header>

<div class="card">
  <!-- <img src="/w3images/team2.jpg" alt="John" style="width:100%"> -->
  <div class="title">
    <h3 style="font-size: 35px">My Profile</h3>
  </div>
  <div style="margin-top: -30px">
  <h3> Name: {{name}} </h3>
  <p> Contact Number: {{contactNo}} </p>
  <p> Email:{{email}}</p>
  <p> Date of Purchase: {{dateOfPurchase}}</p>
  <p><button (click)="manageprofile()">Edit Profile</button></p>
  <p><button (click)="changepass()">Change Password</button></p>
  </div>
  
</div>
<app-footer></app-footer> 


 