<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="footer-wthree-nav">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="complaint">complaints</a></li>
        <li><a href="elections">Elections</a></li>
        <li><a href="voting">Voting</a></li>
        <li><a href="myflat">My flat</a></li>
        <li><a href="viewprofile">My profile</a></li>
      </ul>
    </div>
    <div class="footer-w3lsrow">
      <div class="col-md-4 footer-grids footer-address">
        <h3>Contact Us :</h3>
        <ul>
          <li><i class="glyphicon glyphicon-send"></i> City views,Bopal<span> Ahmedabad. </span></li>
          <li><i class="glyphicon glyphicon-phone"></i> +999 888 7777 </li>
          <li><i class="glyphicon glyphicon-envelope"></i> <a> cityviews06@gmail.com</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-grids subscribe">
        <h3>City Views:</h3>
        <p>Your all Apartment related Activities are now just one click away.</p>
      <span style="color:grey">  City Views ,your Happy Place!!</span>
        <div class="clearfix"> </div>
      </div>
      <!-- <div class="col-md-4 footer-grids footer-icons">
        <h3>Follow Us :</h3>
        <ul class="social-icons">
          <li><a href="#"> </a></li>
          <li><a href="#" class="fb"> </a></li>
          <li><a href="#" class="in"> </a></li>
          <li><a href="#" class="dott"> </a></li>
        </ul>
        <div class="clearfix"> </div>
      </div> -->
      <div class="clearfix"> </div>
    </div>
    <div class="footer-bottom">
      <p>© 2020 City Views Apartment . All rights reserved </p>
    </div>
  </div>
</div>
<!-- //footer -->
