<div class="comment-grid-top">
    <h3>Responses</h3>
    <div class="comments-top-top">
        <div class="top-comment-left">
            <a href="#"><img class="img-responsive" src="../../../assets/images/icon1.png" alt=""></a>
        </div>
        <div *ngFor="let item of arrcomplaint" class="top-comment-right">
            <ul>
                <li><span class="left-at"><a href="#">Subject:-{{item.description}}</a></span></li>
               <br> <li><span class="right-at">Complaint Added At-{{item.date}}</span></li>
                <li><a class="reply" href="#">{{item.name}}</a></li>
                <!-- <li><a class="reply"><mat-icon>thumb_up</mat-icon>{{}}</a></li>
                <li><a class="reply"><mat-icon>thumb_down</mat-icon>{{}}</a></li> -->
            </ul>
        
        </div>
        <div class="clearfix"> </div>
    </div>
    
</div>