<body>
	<!-- banner -->
	<div class="banner">
		<div class="banner-info">
			<div class="banner-top">
				<div class="container">
					<div class="banner-top-grids banner-top-left">
						<ul class="social-icons">
						<p><span style="color:white" class="glyphicon glyphicon-earphone"></span><span style="color:white"> <b>+999 888 7777 </b></span></p>
						</ul>
					</div>
					<div class="banner-top-grids banner-logo">
						<a>
							<img src="../../assets/images/1.png" alt=""/>
							<h1 >CityViews</h1>
						</a>
					</div>
					<div class="banner-top-grids banner-top-right">
						<!-- <p>
								<button (click)="onlogout()" type="button" class="btn btn-default btn-sm">
									  <span class="glyphicon glyphicon-log-out"></span> Log out
									</button>
                  </p> -->
                  <div  style="margin-top: 20px;margin-left: 300px;" class="dropdown">
                    <button
                      id="dropdownMenu1"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="true"
                      mat-icon-button
                      style="color: white;"
                    >
                      <mat-icon>menu</mat-icon>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					  <li><a routerLink="/viewprofile">My Profile</a></li>
					  <li><a routerLink="/myflat">My Flat</a></li>
                      <li><a (click)="onchange()">Change Password</a></li>
                     <li (click)="onlogout()" routerLinkActive="active" ><a href="/">Logout</a></li>
                    </ul>
                  </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- banner-text -->
			<div class="banner-text">
				<!-- <h2>Your Dream Home</h2><br>
				<p>Claritas est etiam processus dynaicus qui </p> -->
			</div>
			<!-- //banner-text -->
			<!-- top-navigation -->
			<div class="main">
				<div class="container">
					<nav id="menu" class="nav top-nav">
						<button  class="navtoogle">
							<span class="icon-menu glyphicon glyphicon-menu-hamburger"> </span> Menu
						</button>
						<ul>
							<li>
								<a routerLink="/home">
									<span class="icon">
										<i aria-hidden="true" class="icon-home glyphicon glyphicon-home"></i>
									</span>
									<span>Home</span>
								</a>
							</li>
							<li>
								<a routerLink="/complaint" onclick="$('#section-3').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-portfolio glyphicon glyphicon-envelope"></i>
									</span>
									<span>Complaint</span>
								</a>
							</li>
							<li>
								<a routerLink="/elections" onclick="$('#section-2').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-services glyphicon glyphicon-calendar"></i>
									</span>
									<span>Elections</span>
								</a>
							</li>
              <li>
								<a routerLink="/voting" onclick="$('#section-4').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-blog 	glyphicon glyphicon-th-list"></i>
									</span>
									<span>Voting</span>
									</a>
              </li>
              <li>
								<a (click)="onfund()" style="cursor: pointer;" onclick="$('#section-4').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-blog glyphicon glyphicon-credit-card"></i>
									</span>
									<span>Funds</span>
									</a>
              </li>
              <li>
								<a routerLink="/vacantflat" onclick="$('#section-4').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-blog glyphicon glyphicon-info-sign"></i>
									</span>
									<span>Vacant flat</span>
									</a>

							</li>
							<!-- <li>
								<a routerLink="/viewprofile" onclick="$('#section-5').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-user glyphicon glyphicon-user"></i>
									</span>
									<span>My Profile</span>
								</a>
							</li> -->

						</ul>
					</nav>
					<!-- script-for-menu -->
					<script>
						$(".navtoogle").click(function(){
							$(".top-nav ul").slideToggle("slow" , function(){
							});
						});
					</script>
					<!-- //script-for-menu -->
					<script src="../../assets/js/modernizr.custom.js"></script>
				</div>
			</div>
			<!-- //top-navigation -->
			<div class="clearfix"> </div>
		</div>
  </div>
  </body>

