.banner
{
  height: 500px;


}
.banner-text
{
  margin-top: -140px;
}
.main
{
  margin-top: -40px;
}

.dropdown ul li a:hover{
  color: black;
  background-color: #1ABC9C;
  }
  .dropdown-menu li a
  {
      color: black;

  }

