<body>
	<!-- banner -->
	<div class="banner">
		<div class="banner-info">
			<div class="banner-top">
				<div class="container">
					<div class="banner-top-grids banner-top-left">
						<ul class="social-icons">
							<li><a href="#"> </a></li>
							<li><a href="#" class="fb"> </a></li>
							<li><a href="#" class="in"> </a></li>
							<li><a href="#" class="dott"> </a></li>
						</ul>
					</div>
					<div class="banner-top-grids banner-logo">
						<a href="index.html">
							<img src="../../assets/images/1.png" alt=""/>
							<h1 >CityViews</h1>
						</a>
					</div>
					<div class="banner-top-grids banner-top-right">
						<p><span class="glyphicon glyphicon-earphone"></span> +999 888 7777 </p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- banner-text -->
			<div class="banner-text">
				<!-- <h2>Your Dream Home</h2><br>
				<p>Claritas est etiam processus dynaicus qui </p> -->
			</div>
			<!-- //banner-text -->
			<!-- top-navigation -->
			<div class="main">
				<div class="container">
					<nav id="menu" class="nav top-nav">
						<button  class="navtoogle">
							<span class="icon-menu glyphicon glyphicon-menu-hamburger"> </span> Menu
						</button>
						<ul>
							<li>
								<a routerLink="/">
									<span class="icon">
										<i aria-hidden="true" class="icon-home glyphicon glyphicon-home"></i>
									</span>
									<span>Home</span>
								</a>
							</li>
							<li>
								<a routerLink="/complaint" onclick="$('#section-3').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-portfolio glyphicon glyphicon-cog"></i>
									</span>
									<span>Complaint</span>
								</a>
							</li> 
							<li>
								<a routerLink="/elections" onclick="$('#section-2').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-services glyphicon glyphicon-info-sign"></i>
									</span>
									<span>Elections</span>
								</a>
							</li>

							<li>
								<a routerLink="/voting" onclick="$('#section-4').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-blog glyphicon glyphicon-picture"></i>
									</span>
									<span>Voting</span>
									</a>
							</li>
							<li>
								<a routerLink="/myflat" onclick="$('#section-4').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-blog glyphicon glyphicon-picture"></i>
									</span>
									<span>My flat</span>
								<a routerLink="/viewprofile" onclick="$('#section-5').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-user glyphicon glyphicon-user"></i>
									</span>
									<span>My Profile</span>
								</a>
							</li>
							<li>
								<a (click)="onlogout()" onclick="$('#section-6').animatescroll();">
									<span class="icon">
										<i aria-hidden="true" class="icon-contact glyphicon glyphicon-envelope"></i>
                  					</span>
                  					<span>More</span>
                				</a>
                  </span>
                  <span>Logout</span>


                </a>

							</li>
						</ul>
					</nav>
					<!-- script-for-menu -->
					<script>
						$(".navtoogle").click(function(){
							$(".top-nav ul").slideToggle("slow" , function(){
							});
						});
					</script>
					<!-- //script-for-menu -->
					<script src="../../assets/js/modernizr.custom.js"></script>
				</div>
			</div>
			<!-- //top-navigation -->
			<div class="clearfix"> </div>
		</div>
  </div>
  </body>

