<app-header></app-header>
<!-- //services -->
	<!-- w3services-slid -->
	<div class="w3services-bottom">
            <div class="container"> 
                <div class="w3ls-row alert">
                    <div class="col-md-6 welcome-left">
                        <img src="../../../assets/images/d8.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="col-md-6 welcome-right">
                        <h4 style="margin-left: 20%"> Your Flat Details.. </h4>
                        flat No<p>{{flatNo}}</p>
                        Parking slot<p>{{parkingSlot}}</p>
                   
                        <ul>
                            <li><span class="glyphicon glyphicon-tag"></span> <a href="single.html">
                                <span style="color:#333"> Owner Name:
                                <span style="color: #999;">    {{ownerName}}</span>
                                </span> </a></li>
                            <!-- <li><span class="glyphicon glyphicon-retweet"></span>  </li> -->
                            <li><span class="glyphicon glyphicon-bed"></span> {{bhk}} BHK </li>
                        </ul>
                        <a class="more">Show Maintenance Detail</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="more">Pay Maintenance</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //w3services-slid -->
        <!-- features -->
 <app-footer></app-footer>       
