<!-- <app-header></app-header>
<div class="title" style=" margin-top: -130px;">
  <h3 style="font-size: 35px">Change Your Password</h3>

</div>
<div >
  <div class="container">

    <div >
      <div class="col-md-20" style="margin-top: -10px">
        <form method="POST" #changepass="ngForm">


          <div class="form-group">
          <label style="font-size: 17px;
            color: #999;
            line-height: 2em;">Enter Your Old Password</label>
            <input #op="ngModel" required type="text" class="form-control" id="oldpassword" name="oldpassword" [(ngModel)]="oldpassword" placeholder="Old Password">
            <div [hidden]= "op?.valid || op?.untouched">
              <div [hidden]="!op?.errors?.required" class="text-danger">
                *Password is a required filed
              </div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label style="font-size: 17px;
            color: #999;
            line-height: 2em;">Enter Your New Password</label>
            <input #np="ngModel" required minlength="8" maxlength="32" type="text" class="form-control" id="newpassword" name="newpassword" [(ngModel)]="newpassword" placeholder="New Password">
          </div>
          <div [hidden]= "np?.valid || np?.untouched">
            <div [hidden]="!np?.errors?.required" class="text-danger">
              *Password is a required filed
            </div>
            <div [hidden]="!np?.errors?.maxlength" class="text-danger">
              *Password can be upto 32 characters only
            </div>
            <div [hidden]="!np?.errors?.minlength" class="text-danger">
              *Password has to be of atleast 8 characters
            </div>
          </div>
          <br>
          <div class="form-group">
            <label style="font-size: 17px;
            color: #999;
            line-height: 2em;">Re-Enter Your New Password</label>
            <input #rnp="ngModel" required minlength="8" maxlength="32" type="text" class="form-control" id="renewpassword" name="renewpassword" [(ngModel)]="renewpassword" placeholder="Re-Enter New Password">
          </div>
          <div [hidden]= "rnp?.valid || rnp?.untouched">
            <div [hidden]="!rnp?.errors?.required" class="text-danger">
              *Password is a required filed
            </div>
            <div [hidden]="!rnp?.errors?.maxlength" class="text-danger">
              *Password can be upto 32 characters only
            </div>
            <div [hidden]="!rnp?.errors?.minlength" class="text-danger">
              *Password has to be of atleast 8 characters
            </div>
          </div>

<button [disabled] = "changepass.invalid" (click)="changepassword()" type="button" class="btn btn-primary m-t-15 waves-effect">Change Password</button>&nbsp;&nbsp;
<button (click)="goBack()" type="button" class="btn btn-accent m-t-15 waves-effect">Cancel</button>
<br>
<br>

        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<app-footer></app-footer> -->

<app-header></app-header>



<div class="title" style=" margin-top: -140px;">
  <h3 style="font-size: 35px">Change Your Password</h3>

</div>

<form  #changepass="ngForm" method="post" >



  <fieldset>
    <legend><span class="number">*</span>Change Your Password From Here!</legend>
    <div class="form-group">
      <label style="font-size: 17px;
        color: #999;
        line-height: 2em;">Enter Your Old Password</label>
        <input #op="ngModel" required [type]="hide ? 'password' : 'text'" class="form-control" id="oldpassword" name="oldpassword" [(ngModel)]="oldpassword" placeholder="Old Password">
        <div style="margin-top: -70px;margin-left: 770px;cursor: pointer;">
          <mat-icon style="color: black" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>
        <div [hidden]= "op?.valid || op?.untouched">
          <div [hidden]="!op?.errors?.required" class="text-danger">
            *Password is a required filed
          </div>
        </div> 
      </div>

      <div class="form-group">
        <label style="font-size: 17px;
        color: #999;
        line-height: 2em;">Enter Your New Password</label>
        <input #np="ngModel" required minlength="8" maxlength="32" [type]="hide1 ? 'password' : 'text'" class="form-control" id="newpassword" name="newpassword" [(ngModel)]="newpassword" placeholder="New Password">
        <div style="margin-top: -70px;margin-left: 770px;cursor: pointer;">
          <mat-icon style="color: black" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>      </div>
      <div [hidden]= "np?.valid || np?.untouched">
        <div [hidden]="!np?.errors?.required" class="text-danger">
          *Password is a required filed
        </div>
        <div [hidden]="!np?.errors?.maxlength" class="text-danger">
          *Password can be upto 32 characters only
        </div>
        <div [hidden]="!np?.errors?.minlength" class="text-danger">
          *Password has to be of atleast 8 characters
        </div>
      </div>

      <div class="form-group">
        <label style="font-size: 17px;
        color: #999;
        line-height: 2em;">Re-Enter Your New Password</label>
        <input #rnp="ngModel" required minlength="8" maxlength="32" [type]="hide2 ? 'password' : 'text'" class="form-control" id="renewpassword" name="renewpassword" [(ngModel)]="renewpassword" placeholder="Re-Enter New Password">
        <div style="margin-top: -70px;margin-left: 770px;cursor: pointer;">
          <mat-icon style="color: black" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>
      </div>
      <div [hidden]= "rnp?.valid || rnp?.untouched">
        <div [hidden]="!rnp?.errors?.required" class="text-danger">
          *Password is a required filed
        </div>
        <div [hidden]="!rnp?.errors?.maxlength" class="text-danger">
          *Password can be upto 32 characters only
        </div>
        <div [hidden]="!rnp?.errors?.minlength" class="text-danger">
          *Password has to be of atleast 8 characters
        </div>
      </div>


  </fieldset>



  <button type="submit" style="margin-left: 50px;" [disabled] = "changepass.invalid" (click)="changepassword()">Change Password</button>&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit" (click)="goBack()">Cancel</button>

</form>
<br><br>

<app-footer></app-footer>


