<app-header></app-header>
<div class="title" style=" margin-top: -130px;">
  <h3 style="font-size: 35px">Change Your Password</h3>

</div>
<div >
  <div class="container">

    <div >
      <div class="col-md-20" style="margin-top: -10px">
        <form method="POST">


          <div class="form-group">
<label style="font-size: 17px;
color: #999;
line-height: 2em;">Enter Your Old Password</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Old Password">
          </div>
<br>
          <div class="form-group">
            <label style="font-size: 17px;
            color: #999;
            line-height: 2em;">Enter Your New Password</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="New Password">
          </div>
          <br>
          <div class="form-group">
            <label style="font-size: 17px;
            color: #999;
            line-height: 2em;">Re-Enter Your New Password</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Re-enter New Password">
          </div>
<div class="contact" id="contact" style="margin-top: -20px">
<input type="submit" value="SUBMIT">
</div>

        </form>




      </div>

      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
